*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Raleway', sans-serif;
	min-width: 320px;
	min-height: 530px;
}

.fixed-nav{
	width: 100%;
	position: fixed;
	background-color: #ffffff;
	font-weight: bold;
	z-index: 2;
}

.fixed-nav:before,
.fixed-nav:after{
	content: "";
	clear: both;
}

.nav-logo{
	display: inline-block;
	float: left;
	letter-spacing: .3rem;
	line-height: 3rem;
	padding: 0 2rem;
}

.nav-logo a{
	text-decoration: none;
	color: #000000;
	cursor: auto;
}

.nav-links{
	display: inline-block;
	float: right;
}

.nav-links li{
	display: inline-block;
	padding: 0 2rem;
	line-height: 3rem;
}

.nav-links a{
	text-decoration: none;
	color: #000000;
}

.nav-links li:hover,
.nav-logo:hover {
	background-color: #e7e5e5;
}

main{
	position: relative;
	height: 100vh;
	background-image: url("../images/dashboard.jpeg");
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.hamburger-menu,
.sidebar-icon {
	display: none;
}

.modal-dashboard{
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	padding: 5rem 0;
	overflow: auto;
}

.profile-card{
	background-color: #ffffff;
	width: 70%;
	margin: auto;
	border-radius: 5px;
	padding: 2rem;
	min-height: 38rem;
	max-width: 70rem;
	box-shadow: 5px 10px 18px #181627;
}

.profile-card > h3{
	margin-bottom: 2rem;
	font-style: italic;
	font-weight: normal;
}

.profile-nav{
	width: 80%;
	height: 2rem;
	margin: 1rem auto;
	text-align: center;
}

.profile-nav:before,
.profile-nav:after{
	content: "";
	clear: both;
}

.profile-nav > a{
	text-decoration: none;
	color: #000000;
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	float: left;
	width: 45%;
	line-height: 2rem;
}

.upcoming-donations{
	margin-right: 1rem;
}

.account-settings{
	margin-left: 1rem;
}

.js-donation-list{
	display: none;
	width: 100%;
	height: auto;
    overflow: auto;
}

.js-donation-list:before,
.js-donation-list:after{
	content: "";
	clear: both;
}

table{
  margin: 1rem auto;
}

table, th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
}

td, th{
  padding: 1rem 2rem;
  text-align: center;
}

th{
  background-color: #58635b;
  color: #ffffff;
}

tr:nth-child(even){
  background-color: #eef1ef;
}

td > a{
  text-decoration: none;
}

.js-donation-list .no-donations{
	display: none;
}

.js-donation-list .no-donations p{
	width: 80%;
    margin: 3rem auto;
    text-align: center;
    font-style: italic;
}

.js-account-settings{
	width: 90%;
	height: auto;
    overflow: auto;
    padding: 1rem;
    margin: 0 auto;
}

.js-account-settings div{
	width: 100%;
	margin-bottom: 1rem;
	overflow: auto;
}

.js-account-settings h4{
	color: #58635b;
	margin: 1rem 0;
}

.js-resto-name p,
.js-contact input,
.js-email input,
.js-username p,
.js-password input,
input[name=first-name],
input[name=street],
.js-sched-type select,
.js-start-date input,
.js-end-date input,
.js-time input{
	margin-left: 2rem;
}

.js-incharge input{
	width: 15%;
	float: left;
	margin-right: 1rem;
}

.js-incharge:before,
.js-incharge:after{
	content: "";
	clear: both;
}

.js-incharge input,
.js-contact input,
.js-email input,
.js-address input,
.js-password input,
.js-sched-type select,
.js-start-date input,
.js-end-date input,
.js-day-of-week input,
.js-time input{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	border-style: none;
	outline: none;
	padding-left: 1rem;
}

.js-address input{
	width: 20%;
	float: left;
	margin-right: 1rem;
	overflow: auto;
}

.js-address:before,
.js-address:after{
	content: "";
	clear: both;
}

.frequency-wrapper label{
  font-size: 16px;
  font-family: 'Raleway', san-serif;
  font-weight: bold;
  color: #58635b;
}

.js-sched-type select,
.js-start-date input,
.js-end-date input,
.js-time input{
  margin: 1rem 2rem;
}

.js-day-of-week input{
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  vertical-align: middle;
  padding-top: 1rem;
}

.no-appearance{
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  color: #000000;
}

.select-appearance{
  -webkit-appearance: button-arrow-down;
  -moz-appearance: button-arrow-down;
  -o-appearance: button-arrow-down;
  -ms-appearance: button-arrow-down;
}

.checkbox-appearance{
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  -o-appearance: checkbox;
  -ms-appearance: checkbox;
}

.js-start-date input,
.js-end-date input{
  background-color: #ffffff;
  color: #000000;
}

.account-settings-buttons{
	width: 100%;
	text-align: center;
}

.cancel-changes,
.edit-details,
.save-changes{
	width: 10rem;
	padding: 1rem;
	margin: 0 1rem;
	border-radius: 5px;
	border-style: none;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 16px;
	outline: none;
}

.cancel-changes{
	background-color: #b83931;
	opacity: .7;
	color: #ffffff;
}

.edit-details{
	background-color: #257197;
	opacity: .7;
	color: #ffffff;
}

.save-changes{
	background-color: #217e38;
	opacity: .7;
	color: #ffffff;
}

.cancel-changes:hover,
.edit-details:hover,
.save-changes:hover{
	opacity: 1;
	cursor: pointer;
}

.js-account-settings .success-modal{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	z-index: 2;
	width: 20rem;
	background-color: #58635b;
	border-radius: 5px;
	text-align: center;
	padding: 2rem;
	box-shadow: 5px 10px 18px #181627;
}

.success-modal p{
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	padding-bottom: 1rem;
}

.success-modal button{
	width: 2rem;
	height: 2rem;
	outline: none;
	border-style: none;
	border-radius: 5px;
}

.success-modal button:hover{
	cursor: pointer;
}


/* media queries*/
@media only screen and (max-width: 420px){
	.nav-logo{
		letter-spacing: 0;
		padding: 0 1rem;
	}

	.hamburger-menu{
		width: 10rem;
	}

	.sidebar-icon{
		padding: 0 1.5rem;
	}

	.profile-card > h3{
		margin-bottom: 1rem;
		font-size: 14px;
	    text-align: center;
	}

	.profile-nav{
		height: 1rem;
		margin: 0 auto;
		width: 100%;
	}

	.profile-nav > a{
		line-height: normal;
		font-size: 14px;
		width: 50%;
		text-align: center;
	}

	.profile-card{
		min-height: 20rem;
	}

	th,td{
		padding: 1rem 0;
		font-size: 14px;
	}

	th > .fa{
		display: none;
	}

	th{
		font-weight: normal;
	}

	.js-pickups-list .no-pickups p{
		margin: 1.5rem auto;
		font-weight: 14px;
	}

	.js-account-settings{
		width: 100%;
		padding: 0;
		margin-top: 3rem;
	}

	.js-account-settings div{
		margin-bottom: .5rem;
	}

	.js-account-settings > h3{
		font-size: 14px;
	}

	.js-account-settings h4{
		margin: .5rem 0;
		font-size: 14px;
	}

	.js-resto-name p,
	.js-contact input,
	.js-email input,
	.js-username p,
	.js-password input,
	input[name=first-name],
	input[name=street],
	.js-sched-type select,
	.js-start-date input,
	.js-end-date input,
	.js-day-of-week input,
	.js-time input{
		margin-left: 0;
	}

	.js-resto-name p,
	.js-username p,
	.js-account-settings input,
  	.frequency-wrapper label,
  	.frequency-wrapper input,
  	.frequency-wrapper select,
  	.frequency-wrapper span{
		font-size: 14px;
	}

	.js-incharge input,
  	.js-contact input,
  	.js-email input,
  	.js-address input,
  	.js-password input,
  	.frequency-wrapper select,
  	.frequency-wrapper input{
		padding-left: 0;
	}

	.js-incharge input{
		width: 45%;
		max-width: 5rem;
		float: left;
		margin-right: .5rem;
	}

	.js-address input{
		width: 90%;
	}

	.js-sched-type select,
	.js-start-date input, 
	.js-end-date input, 
	.js-time input{
		margin: .5rem 0;
	}

	.cancel-changes,
	.edit-details,
	.save-changes{
		width: 7rem;
		padding: .5rem 0;
		margin: 0 .5rem;
		font-size: 13px;
		opacity: 1;
	}

	.cancel-changes{
		float: left;
	}

	.edit-details{
		float: left;
	}

	.save-changes{
		float: right;
	}

	.account-settings-buttons:before,
	.account-settings-buttons:after{
		content: "";
		clear: both;
	}

	.js-account-settings .success-modal{
		width: 15rem;
		padding: 1.5rem;		
	}

	.success-modal p{
		font-size: 14px;
	}

	.success-modal button{
		width: 1.5rem;
		height: 1.5rem;
		font-size: 10px;
	}
}

@media only screen and (min-width:421px) and (max-width: 650px){
	.nav-logo{
		letter-spacing: 1;
		padding: 0 1rem;
	}

	.hamburger-menu{
		width: 10rem;
	}

	.sidebar-icon{
		padding: 0 1.5rem;
	}

	.profile-nav{
		height: 1rem;
		margin: 0 auto;
		width: 100%;
	}

	.profile-nav > a{
		line-height: normal;
		font-size: 14px;
		width: 50%;
		text-align: center;
	}

	.profile-card{
		min-height: 25rem;
	}

	.profile-card > h3{
		margin-bottom: 1rem;
		font-size: 14px;
	    text-align: center;
	}

	th,td{
		padding: 1rem .5rem;
		font-size: 14px;
	}

	th > .fa{
		display: none;
	}

	.js-pickups-list .no-pickups p{
		margin: 1.5rem auto;
		font-weight: 14px;
	}

	.js-account-settings{
		width: 100%;
		padding: 0 1rem;
		margin-top: 2rem;
	}

	.js-account-settings div{
		margin-bottom: 1rem;
	}

	.js-account-settings > h3{
		font-size: 16px;
	}

	.js-account-settings h4,
	.frequency-wrapper label{
		margin: .5rem 0;
		font-size: 15px;
	}

	.js-resto-name p,
	.js-contact input,
	.js-email input,
	.js-username p,
	.js-password input,
	input[name=first-name],
	input[name=street],
	input[name=state],
	.frequency-wrapper select,
	.frequency-wrapper input{
		margin-left: 1rem;
	}

	.js-resto-name p,
	.js-username p,
	.js-account-settings input,
	.frequency-wrapper select,
	.frequency-wrapper input{
		font-size: 15px;
	}

	.js-incharge input,
  	.js-contact input,
  	.js-email input,
  	.js-address input,
  	.js-password input,
  	.frequency-wrapper select,
  	.frequency-wrapper input{
		padding-left: 0;
	}

	.frequency-wrapper select,
	.frequency-wrapper input{
		margin: .5rem 1rem;
	}

	.js-incharge input{
		width: 45%;
		margin-right: .5rem;
	}

	.js-address input{
		width: 40%;
	}

	.cancel-changes,
	.edit-details,
	.save-changes{
		width: 7rem;
		padding: .5rem 0;
		margin: 0 .5rem;
		font-size: 14px;
		opacity: 1;
	}

	.cancel-changes,
	.edit-details,
	.save-changes{
		float: none;
	}

	.account-settings-buttons:before,
	.account-settings-buttons:after{
		content: "";
		clear: both;
	}

	.js-account-settings .success-modal{
		width: 15rem;
		padding: 1.5rem;		
	}

	.success-modal p{
		font-size: 14px;
	}

	.success-modal button{
		width: 1.5rem;
		height: 1.5rem;
		font-size: 10px;
	}
}

@media only screen and (min-width: 650px) and (max-width: 950px){
	.profile-card > h3{
		font-size: 16px;
		margin-bottom: 1rem;
	    text-align: center;
	}

	.profile-nav{
		height: 1rem;
		margin: 0 2rem;
		width: 90%;
	}

	.profile-nav > a{
		line-height: normal;
		font-size: 16px;
		width: 50%;
		text-align: center;
	}

	.profile-card{
		max-width: 40rem;
	}

	.js-incharge input,
	.js-address input{
		width: 40%;
	}

	input[name=state]{
		margin-left: 2rem;
	}

	.cancel-changes,
	.edit-details,
	.save-changes{
		opacity: 1;
	}
}

@media only screen and (max-width: 950px){
	.nav-links{
		display: none;
	}

	.hamburger-menu{
		position: absolute;
		width: 15rem;
		right: 0;
		display: none;
		background-color: #000000;
		text-align: center;
		font-weight: lighter;
		height: 100vh;
		opacity: .9;
	}

	.hamburger-menu a{
		color: #ffffff;
		text-decoration: none;
	}

	.hamburger-menu li{
		list-style-type: none;
		padding: 1rem 0;
	}

	.hamburger-menu li:hover{
		background-color: #9a9999;
		color: #000000;
	}

	.hamburger-menu a:hover{
		color: #000000;
	}

	.sidebar-icon{
		display: inline-block;
		float: right;
		padding: 0 2.5rem;
		line-height: 3rem;
	}

	.sidebar-icon a{
		color: black;
	}

	.profile-card{
		width: 90%;
		padding: 1rem .5rem;
	}

	.upcoming-donations{
		margin-right: 0;
	}

	.account-settings{
		margin-left: 0;
	}

	.js-donation-list{
		padding: 1rem 0;
	}


}